.app-header {
    background: linear-gradient(135deg, #3399FF, #004488);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 1.5rem 0.5rem;
    margin: 1.5rem;
    border-radius: 1rem;
    width: 95%;

    .header-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 2rem;
    }

    .logo {
        font-size: 1.7rem;
        font-weight: bold;
        color: white;
        letter-spacing: 1px;
        text-decoration: none;
    }

    .nav-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 1.5rem;

        li a {
            color: white;
            font-size: 1.1rem;
            text-decoration: none;
            font-weight: 500;
            transition: color 0.3s ease, transform 0.2s ease-in-out;

            &:hover {
                color: #cce7ff;
                transform: scale(1.05);
            }
        }
    }
}