.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.nav button {
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    color: white;
}