.response {
    margin-top: 1.25rem;
    border-radius: 5px;

    &-block {
        padding: 0.5rem;
        margin-top: 1rem;
        line-height: 1.5;

        h3 {
            margin-top: 0;
        }

        &.assistant {
            border-left: 3px solid #155724;
        }

        &.user {
            display: flex;
            justify-content: right;
            margin-left: auto;
            border-right: 3px solid #004085;
        }

        .block {
            :last-child {
                margin: 0;
            }
        }
    }

    .line {
        word-break: break-word;
    }

    &.stream :deep(.token) {
        display: inline-block;
        opacity: 0;
        animation: fadeIn 3s ease forwards;
    }

    &-anim {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 0.5rem;
        animation: blink 1.5s infinite;

        .stop-answering {
            background-color: transparent;
            border: none;
            font-size: 2rem;
            color: white;
            cursor: pointer;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}