.response {
    margin-top: 1.25rem;
    border-radius: 5px;

    &-block {
        padding: 0.5rem;
        margin-top: 1rem;
        line-height: 1.5;
    }

    &-block.assistant {
        border-left: 3px solid #155724;
    }

    &-block.user {
        border-right: 3px solid #004085;
        justify-content: right;
        display: flex;
        margin-left: auto;

        .line {
            span {
                word-break: break-word;
            }
        }
    }

    .word {
        display: inline-block;
        animation: fadeIn 3s forwards;
    }

    .line {
        display: block;
    }

    .space {
        display: inline-block;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.thinking-anim {
    margin-top: 1rem;
    animation: blink 1.5s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}