.response {
    margin-top: 1.25rem;
    padding: 0.5rem;
    border-left: 3px solid #155724;
    border-radius: 5px;

    p {
        margin-top: 0.5rem;
        line-height: 1.5;
    }

    .word {
        display: inline-block;
        animation: fadeIn 3s forwards;
    }

    .line {
        display: block;
    }

    .space {
        display: inline-block;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.thinking-anim {
    margin-top: 1rem;
    animation: blink 1.5s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}