# MAIN IGNORES
node_modules

# CLIENT IGNORES
client/node_modules
client/.output
client/.data
client/.nuxt
client/.nitro
client/.cache
client/dist
client/logs
client/*.log
client/.DS_Store
client/.fleet
client/.idea
client/.env
client/.env.*
client/!.env.example

# APP IGNORES
app/node_modules
app/.output
app/.data
app/.nuxt
app/.nitro
app/.cache
app/dist
app/logs
app/*.log
app/.DS_Store
app/.fleet
app/.idea
app/.env
app/.env.*
app/!.env.example

# SERVER IGNORES
server/node_modules
server/.env