# MAIN IGNORES
node_modules

# CLIENT IGNORES
landing/node_modules
landing/.output
landing/.data
landing/.nuxt
landing/.nitro
landing/.cache
landing/dist
landing/logs
landing/*.log
landing/.DS_Store
landing/.fleet
landing/.idea
landing/.env
landing/.env.*
landing/!.env.example

# APP IGNORES
app/node_modules
app/.output
app/.data
app/.nuxt
app/.nitro
app/.cache
app/dist
app/logs
app/*.log
app/.DS_Store
app/.fleet
app/.idea
app/.env
app/.env.*
app/!.env.example

# SERVER IGNORES
server/node_modules
server/.env