.about {
    line-height: 1.6;
    color: #004d40;
    background: linear-gradient(to bottom, #e8f5e9, #ffebee);
    padding: 1.25rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    width: 90%;

    h2 {
        color: #264653;
        font-size: 1.5rem;
        margin-top: 1.25rem;
    }

    p {
        margin-bottom: 1rem;
    }

    li {
        margin-bottom: 0.5rem;
    }

    :deep(a) {
        color: #e76f51;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .side-note {
        color: gray;
        font-size: 0.875rem;
        margin-left: 1rem;

        &::before {
            content: '- ';
            font-weight: bold;
        }
    }
}